header{
    height: 80px;
    background-color: #3161e0;
}
#logo{
 position: relative;
 left: 10%;
 top: 30%;
}
ul{
    display: inline-block;
    list-style-type: none;
    position: relative;
    top: 15%;
    left: 20%;
}
li{
    display: inline;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
    text-transform: capitalize;
}
a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.btn{
    float: right;
    background-color: white;
    width: 60px;
    height: 35px;
    border-radius: 20px;
    margin-top: 20px;
    margin-right: 180px;
    border: 1px solid  #3161e0;

}
.contenuto{
    padding-left: 7px;
    text-transform: capitalize;
    line-height: 35px;
    font-weight: bold;

}
.btn:hover{
    cursor: pointer;
    text-decoration: underline;
}